/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@0;1&display=swap");
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
* {
  font-family: "Roboto Mono", monospace;
}

body {
  margin: 0;
}

h1 {
  text-align: center;
}
